# Must specify the env (DEV/PROD), when deploying contracts to production set this as PROD otherwise DEV 
ENV=DEV

# chain to deploy on
DEPLOY_ON=sepolia

# report gas 
REPORT_GAS=false

# private key of the account (only required when running scripts against testnet/mainnet)
PRIVATE_KEY=0x77d39f7bc172ae37fb88fec0c69c2b0484c4b21698ac8c264131c58558822cd1
# operator=0x77d39f7bc172ae37fb88fec0c69c2b0484c4b21698ac8c264131c58558822cd2
# manager=0x77d39f7bc172ae37fb88fec0c69c2b0484c4b21698ac8c264131c58558822cd3

# if going to deploy on sepolia testnet chain
SEPOLIA_RPC_URL=https://bold-cold-isle.ethereum-sepolia.quiknode.pro/4c0219a685f89dab0dff2ea669fd9d308d5f631a/

# address of platform fee recipient. By default the deployer becomes the fee recipient
PLATFORM_FEE_RECIPIENT=

# address of the account that will own all proxies (this will be fordefi).
# By default, the deployer becomes the owner
OWNER_ADDRESS=


# Only needed when deploying the Ultra/Receipt Coin
TOKEN_NAME="Circle USDC"
TOKEN_SYMBOL=USDC
TOKEN_DECIMALS=6


# Only needed when deploying Ember vault
VAULT_NAME= "Ember USDC Vault"
VAULT_RECEIPT_TOKEN_SYMBOL=eUSDC
VAULT_COLLATERAL_TOKEN=0x0642ED81e437Ba9167734CBcf245F56077925D07
VAULT_ADMIN=0xc88901227a85a0Cd3D975A409dD9043Bc0712a56
VAULT_OPERATOR=0x5DD33BFe5c96614AA11c7E2C4436E3cAD428DB80
VAULT_RATE_MANAGER=0xdc669eB607dd024DefB934Da0FA87Cad8929a1fE


# Arguments for minting deposit tokens
TOKEN=USDC
RECIPIENT=0xc88901227a85a0Cd3D975A409dD9043Bc0712a56
AMOUNT=15


# Arguments for depositing to a vault
VAULT="Ember USDC Vault"
TOKEN=USDC
AMOUNT=10


# Arguments for upgrading the vault. Pass in undefined to upgrade all vaults
VAULT_KEYS=abcVault,xyzVault
# If deploy on is set to mainnet then provide the private key to be used for contract deployment
PRIVATE_KEY=


PHAROS_TESTNET_RPC_URL=https://atlantic.dplabs-internal.com
